<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="enter user name">
        <br>
        <br>
        <input name="content" placeholder="write here somthing">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>